body{
    background: linear-gradient(to left, #A0A0A0, #0000A0);
}
h3{
    text-align: center;
}
.main{
    width: 100%;
}
.left{
    float: left;
    position: relative;
    width: 30%;
}
.right{
    z-index: -1;
    float: right;
    position: relative;
    width: 70%;
}
.forms{
    background-color: dodgerblue;
    border-radius: 10px;
    position: relative;
    width: 300px;
    overflow: auto;
}
.forms p{
    font-size: 12px;
    margin-left: 30px;
}
.photo_profile{
    position: relative;
    width: 300px;
    margin-top: 20px;
    margin-left: 200px;

    overflow: hidden;
}
.photo_profile img{
    position: relative;
    width: 300px;
    border-radius: 20px;
}