body{
    background: linear-gradient(to left, #FFE4E1, #4169E1);
}
h3{
    text-align: center;
}
.main{
    width: 100%;
}
h1{
    text-align: center;
    margin-bottom: -5px;
}
.mainAdmin{
    position: relative;
    margin-left: 45%;
}
.reportsForms{
    position: relative;
    margin-left: 50px;
    margin-top: 20px;

}
p{
    margin: 30px;
    font-size: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
.text{
    font-size: 15px;
}